@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Spice&family=Cinzel:wght@500&family=DynaPuff&family=Gluten&family=Passions+Conflict&family=Quicksand:wght@300&family=Signika+Negative:wght@600&display=swap');
body{
    margin: 0;
    /* position: relative; */
}
#header{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.input{
    width: 500px;
    height: 100px;
    margin-left: 81%;
}
#input1{
    color: brown;
padding: 13px;
width: 248px;
border: 2px solid brown;
border-radius: 10px;
font-size: 19px;
font-weight: bold;
margin-left: 1%;
margin-top: 23px;
}
.fa-solid{
    color: #fff;
}
.col{
    
        font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    
    
}
.col1{
    margin-top: -53px;
    margin-left: 50px;
}
.col2{
    margin-top: -46px;
margin-left: 124px;
}
.col3{
    margin-top: -48px;
margin-left: 229px;
}
.col4{
    margin-top: -45px;
margin-left: 394px;
}
.col5{
    margin-top: -46px;
margin-left: 486px
}
.div2{
    background-color: #fff;
    width: 100%;
    height: 140px;
    border: 4px brown double;
    position: sticky;
    top: 0px;
}
.img1{
    width: 304px;
    margin-left: 652px;
    padding: 5px;
    margin-top: 23px;

}
.img2{
    width: 60px;
    margin-left: 966px;
    margin-top: -49px;
}

.div3{
    width: 100%;
    height: 700px;
    background-image: url('./images/firstpagebg.jpg');
    margin-top: -68px;
   
}
.sub1{
    width: 45%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -531px;
margin-left: 425px;
border-radius: 20px;
border: 2px double brown;
padding: 16px;
}
h1{
    color: brown;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.l1{
    font-size: 30px;
    padding: 81px;
    margin-top: 15px;
    color: brown;
}
.l2{
    font-size: 30px;
    margin-left: 81px;
    color: brown;
}
.i1{
    width: 73%;
    height: 53px;
    margin-left: 84px;
    border: 2px solid brown;
    border-radius: 20px;
}
.i2{
    width: 74%;
    height: 50px;
    margin-left: 83px;
    border: 2px solid brown;
    border-radius: 20px;
    /* position: fixed; */
}
#btn{
    width: 92px;
height: 46px;
border: 2px solid brown;
border-radius: 10px;
background-color: brown;
color: #fff;
font-size: 19px;
margin-top: 19px;
margin-left: 333px;
}
h3{
    color: brown;
    margin-left: 303px;
}
#btn:hover{
    background-color: #fff;
    color: brown;
}
.col:hover{
    font-size: 20px;
    text-decoration: none;
}
#third{
    width: 100%;
    height: 700px;
    /* background-color: brown; */
    margin-top: 79px;
    border: 2px double #fff;
    background-image: url('./images/viv.jpg');
    background-size: cover;
}

.head{
    color: brown;
    font-family: 'Signika Negative', sans-serif;
    margin-top: 7px;
    margin-left: 48px;
    font-size: 85px;
}
.four{
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    background-image: url('./images/cofeebg3.jpg');
    background-size: cover;

}
.coff{
    font-family: 'Cinzel', serif;
    margin-top: -291px;
margin-left: 697px;
font-size: 45px;
font-weight: bold;
text-decoration: underline;
color: brown;
}
p{
    padding: 100px;
font-size: 36px;
margin-top: -109px;
margin-left: 43px;
color: brown;
}
.five{
    width: 100%;
    height: 700px;
    background-image: url('./images/divbg.jpg');
    
    margin-top: -57px;
    display: flex;
    justify-content: space-evenly;
}
.row{
    width: 22%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 146px;
    border: 2px double brown;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
}
.coffee1{
    font-family: 'Cinzel', serif;
    font-size: 37px;
font-weight: bold;
text-decoration: underline;
margin-top: -666px;
color: brown;
}
.bgg{
    background-color: #fff;
    width: 25%;
    height: 60px;
    margin-left: 600px;
}
.image{
    width: 100%;
height: 245px;
border-radius: 14px;
}
.imghd{
    font-family: 'Signika Negative', sans-serif;
    font-size: 36px;
    margin-top: 0px;
}
.para{
    color: brown;
    font-size: 18px;
padding: 1px;
margin-top: 10px;
}
.six{
    width: 100%;
    height: 900px;
    /* background-color: aqua; */
    margin-top: 609px;
    background-image: url('./images/phoo.jpg');
    background-size: cover;
    
}
.footer{
    width: 100%;
    height: 500px;
    background-color: brown;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
}
.foot{
    width: 17%;
    height: 270px;
    /* background-color: black; */
    margin-top: 100px;
}
.footer1{
    color: #fff;
    margin-left: 39px;
    text-decoration: underline;
    cursor: pointer;
}
h4{
    color: #fff;
    margin-left: 40px;
    cursor: pointer;

}
.fa-brands{
    font-weight: 400;
    margin-top: -4px;
    margin-left: 46px;
    cursor: pointer;
}
.social{
    color: #fff;
    margin-top: -493px;
margin-left: -1125px;
font-size: 23px;
text-decoration: none;
}
h4:hover{
    text-decoration: underline;
    
}
.row:hover{
    width: 23%;
    height: 520px;
    cursor: pointer;
}
.lastup{
    width: 45%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 133px;
    margin-left: 792px;
    border: 2px double brown;
    border-radius: 15px;
}
.footer1:hover{
    font-size: 20px;
}
.fooo{
    font-size: 26px;
    color: #fff;
    margin-top: 336px;
    margin-left: 49px;
    cursor: pointer;
}
hr{
    color: #fff;
    height: ;
}

